$primary-text-color: #293845;
$secondary-text-color: #c6d2db;

$primary-action-color:  #6558f5;
$secondary-action-color:  #1aae9f;

$primary-bg-color: #ffffff;
$secondary-bg-color: #8dd7cf;

$support-neutral-color: #c8d3dc;